<!-- ORDER CONTROLS -->
<div class="flex-container row padded-aside">
    <h1>Products</h1>
</div>
<div class="flex-grid padded-aside filter-fixed">
        <h2 class="padded-top-two">Search by: </h2>
        <div class="col-md">
            <form class="flex-container row  example" action="javascript:void(0);">
                <input class="search col-md padded-top padded-left" type="text" placeholder="Product name" name="searchByName" [(ngModel)] = "productSearchName" (keyup.enter)="searchProduct();">
                <input class="search col-md padded-top padded-left" type="text" placeholder="EAN or Part No." name="searchByPartNumber" [(ngModel)] = "productSearchparNumber" (keyup.enter)="searchProduct();">
                <div class="col-md">
                    <div class="col">
                        <div class="title">
                            Manufacturer
                        </div>
                    </div>
                    <form class="example" action="javascript:void(0);">
                        <select required [(ngModel)]="filterValues.manufacturersCat"  name="productGroup">
                            <option *ngFor="let item of manufacturers" [ngValue]="item">{{item.name}}</option>
                        </select>
                    </form>
                </div>
                <div class="col-md">
                    <div class="col">
                        <div class="title">
                            Product Group
                        </div>
                    </div>
                    <form class="example" action="javascript:void(0);">
                        <select required [(ngModel)]="filterValues.productsGroupCat"  name="productGroup">
                            <option *ngFor="let item of productsGroup" [ngValue]="item">{{item.name}}</option>
                        </select>
                    </form>
                </div>
                <div class="btn-container padded-top">
                    <a href="javascript:void(0);" (click)="searchProduct();" class="btn-primary">
                         <span><i class="material-icons small">search</i></span>
                    </a>
                </div>
                <div class="btn-container padded-top padded-left">
                    <a href="javascript:void(0);" (click)="restoreSearch();" class="btn-primary">
                         <span><i class="material-icons small">clear</i></span>
                    </a>
                </div>
            </form>
        </div>
    </div>
    
    <!-- ORDER BY TIME CHART -->
    <div class="flex-container row padded-aside">
        <div class="col card">
            <div class="chart">
                <div class="title">
                    Products over time
                    <div class="subtitle">
                        Updated every 60 seconds
                    </div>
                </div>
                <div class="chart">
                    <canvas #linechart id="lineChart" height="auto">{{ lineChart }}</canvas>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ORDER DATA TABLE -->
    <div class="flex-container row padded-aside ">
        <div class="wrapper">
            <div class="Rtable Rtable--5cols Rtable--collapse">
                <div class="Rtable-row Rtable-row--head headers-fixed">
                    <!-- <div class="Rtable-cell small-cell column-heading">Select</div> -->
                    <div class="Rtable-cell topic-cell column-heading">Name</div> 
                    <div class="Rtable-cell date-cell column-heading">Manufacturer</div>                    
                    <div class="Rtable-cell date-cell column-heading">Product Group</div>                                        
                    <div class="Rtable-cell date-cell column-heading">Part Number</div>
                    <div class="Rtable-cell date-cell column-heading">Barcode</div>                    
                    <div class="Rtable-cell date-cell column-heading">Total Items</div>
                    <div class="Rtable-cell date-cell column-heading">Min Price</div>
                    <div class="Rtable-cell date-cell column-heading">Max Price</div>
                    <div class="Rtable-cell date-cell column-heading">Avg Price</div>
                    <div class="Rtable-cell date-cell column-heading">Last Rec Price</div>
                </div>
    
                <div class="Rtable-row" *ngFor="let product of productsList">
                    <!-- <div class="Rtable-cell small-cell">
                        <div class="Rtable-cell--heading">Select</div>
                        <div class="Rtable-cell--content date-content"><span class="row-title">
                                <label class="container">
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                            </span>
                        </div>
                    </div> -->
                    <div class="Rtable-cell topic-cell">
                        <div class="Rtable-cell--heading">Name</div>
                        <div class="Rtable-cell--content title-content">{{product.name}}</div>
                    </div>
                    <div class="Rtable-cell date-cell">
                            <div class="Rtable-cell--heading">Manufacturer</div>
                            <div class="Rtable-cell--content title-content">{{product.manufacturer}}</div>
                    </div>
                    <div class="Rtable-cell date-cell">
                            <div class="Rtable-cell--heading">Product Group</div>
                            <div class="Rtable-cell--content title-content">{{product.productGroup}}</div>
                    </div>
                    <div class="Rtable-cell date-cell">
                        <div class="Rtable-cell--heading">Part Number</div>
                        <div class="Rtable-cell--content title-content">{{product.partNumber}}</div>
                    </div>
                    <div class="Rtable-cell date-cell">
                        <div class="Rtable-cell--heading">Barcode</div>
                        <div class="Rtable-cell--content title-content">{{product.barcode}}</div>
                    </div>
                    <div class="Rtable-cell date-cell">
                        <div class="Rtable-cell--heading">Total Items</div>
                        <div class="Rtable-cell--content title-content">{{product.totalItems}}</div>
                    </div>
                    <div class="Rtable-cell date-cell">
                        <div class="Rtable-cell--heading">Min Price</div>
                        <div class="Rtable-cell--content title-content">{{product.minPrice}}</div>
                    </div>
                    <div class="Rtable-cell date-cell">
                        <div class="Rtable-cell--heading">Max Price</div>
                        <div class="Rtable-cell--content title-content">{{product.maxPrice}}</div>
                    </div>
                    <div class="Rtable-cell date-cell">
                        <div class="Rtable-cell--heading">Avg Price</div>
                        <div class="Rtable-cell--content title-content">{{product.avgPrice}}</div>
                    </div>
                    <div class="Rtable-cell date-cell">
                        <div class="Rtable-cell--heading">Last Rec Price</div>
                        <div class="Rtable-cell--content title-content">{{product.lastRecordedPrice}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>