<div class="new-order">
    <div *ngIf="showMessage" class="alert" [ngClass]="{'alert-info': showInfo === true} " [ngClass]="{'alert-danger': showError === true} " [ngClass]="{'alert-success': showSuccess === true}">
        <strong *ngIf="showError">Error:</strong> <div class="line-breaker">{{alertMessage}}</div> 
    </div>
    <div class="flex-grid padded-aside">
        <div class="col">
            <div class="title">
                Order Type
            </div>
        </div>
    </div>
    <div [class.disabled]="!canSave" class="flex-container row padded-aside">
        <ng-container *ngFor="let orderType of orderTypes; let i = index">
            <div class="col-xxs">
                <label class="container">{{orderType.orderDirection}}
                    <input type="radio" name="radio" [checked]="orderTypes[i].id == 1"
                        (change)="switchRadioBtns($event, orderTypes[i])">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="col-xxs">
                <i [ngClass]="{'invert': orderType.orderDirection == 'In'}" class="material-icons small">{{orderType.icon}}</i>
            </div>
        </ng-container>
    </div>
    <div class="flex-grid padded-aside">
        <div class="col">
            <div class="title">
                Order Information
            </div>
        </div>
    </div>
    <div [class.disabled]="!canSave" class="flex-container row padded-aside">
        <div class="col-sm">
            <form class="example" action="javascript:void(0);">
                <select required [(ngModel)]="orderProducts.order.orderType.id" name="ordersubtype">
                    <option *ngFor="let item of orderSubTypes" [ngValue]="item.id">{{item.name}}</option>
                </select>
            </form>
        </div>
        <div class="col-sm">
            <form class="example" action="javascript:void(0);">
                <input [ngModel]="orderProducts.order.orderDate | date:'yyyy-MM-dd'" (ngModelChange)="orderProducts.order.orderDate = $event"
                    type="date" name="orderdate" />
            </form>
        </div>
        <div class="col-sm">
            <form class="example" action="javascript:void(0);">
                <input type="text" [(ngModel)]="orderProducts.order.ticketNumber" placeholder="Ticket No." name="ticketno">
            </form>
        </div>
        <div class="col-sm">
            &nbsp;
        </div>
    </div>
    <div class="flex-grid padded-aside">
        <div class="col">
            <div class="title">
                Warehouse
            </div>
        </div>
        <div class="col">
            <div class="title">
                Inventory Name
            </div>
        </div>
        <div class="col">
            <div class="title">
                Status
            </div>
        </div>
        <div class="col">
            <div class="title">
                Item State
            </div>
        </div>
    </div>
    <div [class.disabled]="!canSave" class="flex-container row padded-aside">
        <div class="col-sm">
            <form class="example" action="javascript:void(0);">
                <select required [(ngModel)]="orderProducts.orderDetail.warehouseCat" name="warehouse">
                    <option  *ngFor="let item of warehouses" [ngValue]="item">{{item.name}}</option>
                </select>
            </form>
        </div>
        <div class="col-sm">
            <form class="example" action="javascript:void(0);">
                <select required [(ngModel)]="orderProducts.orderDetail.inventoryCat" name="inventory">
                    <option *ngFor="let item of inventories" [ngValue]="item">{{item.name}}</option>
                </select>
            </form>
        </div>
        <div class="col-sm">
            <form class="example" action="javascript:void(0);">
                <select required [(ngModel)]="orderProducts.orderDetail.onInventoryStatusCat" name="oninvstatus">
                    <option *ngFor="let item of inventoryStatuses" [ngValue]="item">{{item.name}}</option>
                </select>
            </form>
        </div>
        <div class="col-sm">
            <form class="example" action="javascript:void(0);">
                <select required [(ngModel)]="orderProducts.orderDetail.itemStatusCat" name="itemstatus">
                    <option *ngFor="let item of itemStatuses" [ngValue]="item">{{item.name}}</option>
                </select>
            </form>
        </div>
    </div>
    <div [class.disabled]="!canSave" class="padded-aside flex-container">
        <textarea  class="search col" type="text" placeholder="Order notes..."
        [(ngModel)]="orderProducts.order.notes"
        ></textarea>
    </div>
    
    <!-- Products list -->
    <div class="flex-grid padded-aside">
        <div class="col">
            <div class="title">
                Product List
            </div>
        </div>
    </div>
    <div class="flex-grid padded-aside filter-fixed">
        <div class="col-sm">
            <form class="example" action="javascript:void(0);">
                <input [readonly]="!canSave" [(ngModel)]="scannedPartNo" (keyup.enter)='onScanSubscription.next({ event: $event, message: SCAN_EVENT_PARTNO })' class="search"
                    (focusout)='onScanSubscription.next({ event: $event, message: SCAN_EVENT_PARTNO })'
                    type="text" placeholder="EAN or Part Number" name="Search">
                <button type="submit"><i class="material-icons small">search</i></button>
            </form>
        </div>
        <div class="col-sm">
            <form class="example" action="javascript:void(0);">
                <!-- <input #testinput [(ngModel)]="scannedSerialNo" (keyup.enter)='onScanSubscription.next({ event: $event, message: SCAN_EVENT_MACADDRESS })' -->
                <input [readonly]="!canSave" #testinput [(ngModel)]="scannedSerialNo" [disabled]="!scannedPartNo"  (keyup.enter)='addItem(testinput.value)'
                    class="search" type="text" placeholder="MAC Address" name="mac">
                <button  type="submit"><i class="material-icons small">search</i></button>
            </form>
        </div>
        <div class="col-sm">
            &nbsp;
        </div>
        <div class="col-sm">
            <form class="example" action="javascript:void(0);">
                <select [disabled]="!canSave" required [(ngModel)]="orderProducts.order.orderState" name="orderstate">
                    <option *ngFor="let state of orderStates" [ngValue]="state">Save as {{state}}</option>
                </select>
            </form>
        </div>
        <div class="col-xs">
            <div class="btn-container">
                <a href="javascript:void(0);" (click)="save()" [class.disabled]="!canSave"  class="btn-primary">
                     <span><i class="material-icons small">save</i></span>
                     <div class="btn-text">Save</div>
                </a>
            </div>
        </div>
    </div>


    <div class="tabs-container padded-aside" *ngIf="orderProducts.order.orderType.orderDirection == 'In'">
        <div class="flex-container row">
            <div class="col-xs" *ngFor="let item of orderDetailArray">
                <div class="tab" [ngClass]="{'tabSelected': selectedProductKey === item.key}" (click)="toggleProductKey(item.key)">
                    {{item.key}}
                    <span class="count">
                        <strong>[{{item.value.length}}] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    </span>
                </div>
                <div class="close" (click)="deleteProduct(item)">x</div>
            </div>
        </div>
    </div>

        <!-- Product Items on Order In -->
        <div class="wrapper padded-aside" *ngIf="orderProducts.order.orderType.orderDirection == 'In'">
            <div class="Rtable Rtable--5cols Rtable--collapse">
                <div class="Rtable-row Rtable-row--head headers-fixed">
                    <div class="Rtable-cell small-cell column-heading">Serial no</div>
                    <div class="Rtable-cell topic-cell column-heading">Name</div>
                    <div class="Rtable-cell date-cell column-heading">Warehouse</div>
                    <div class="Rtable-cell date-cell column-heading">Inventory</div>
                    <div class="Rtable-cell date-cell column-heading">Inventory Status</div>
                    <div class="Rtable-cell date-cell column-heading">Item Status</div>
                    <div class="Rtable-cell small-cell column-heading">Delete</div>
                </div>

                <ng-container *ngFor="let orderDetail of orderDetailArray">
                    <ng-container *ngIf="selectedProductKey === orderDetail.key">
                        <div class="Rtable-row" *ngFor="let item of orderDetail.value">
                            <div class="Rtable-cell small-cell">
                                <div class="Rtable-cell--heading">Serial No.</div>
                                <div class="Rtable-cell--content date-content">{{item.serialNumber}}</div>
                            </div>
                            <div class="Rtable-cell topic-cell">
                                <div class="Rtable-cell--heading">Name</div>
                                <div class="Rtable-cell--content title-content">{{item.name}}</div>
                            </div>
                            <div class="Rtable-cell date-cell">
                                <div class="Rtable-cell--heading">Warehouse</div>
                                <div class="Rtable-cell--content title-content">{{item.warehouseCat.name}}</div>
                            </div>
                            <div class="Rtable-cell date-cell">
                                <div class="Rtable-cell--heading">Inventory</div>
                                <div class="Rtable-cell--content title-content">{{item.inventoryCat.name}}</div>
                            </div>
                            <div class="Rtable-cell date-cell">
                                <div class="Rtable-cell--heading">Inventory Status</div>
                                <div class="Rtable-cell--content title-content">{{item.onInventoryStatusCat.name}}</div>
                            </div>
                            <div class="Rtable-cell date-cell">
                                <div class="Rtable-cell--heading">Item Status</div>
                                <div class="Rtable-cell--content title-content">{{item.itemStatusCat.name}}</div>
                            </div>
                            <div class="Rtable-cell small-cell">
                                <div class="Rtable-cell--heading">Delete</div>
                                <div class="Rtable-cell--content">
                                    <a  href="javascript:void(0);" [class.disabled]="!canSave" (click)="removeitem(item.partNumber, item.serialNumber)" class="btn-container">
                                        <span><i class="material-icons small">delete_forever</i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>


        <div class="flex-container row padded-aside" *ngIf="orderProducts.order.orderType.orderDirection == 'Out'">
            <div class="example-container">
                <h2>All Products</h2>
                <div
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="availableProductsList"
                    [cdkDropListConnectedTo]="[doneList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of availableProductsList" cdkDrag>
                        <div class="wrapper">
                            <div class="Rtable Rtable--5cols Rtable--collapse">
                                <div class="Rtable-row Rtable-row--head">
                                    <div class="Rtable-cell small-cell column-heading">Serial no</div>
                                    <div class="Rtable-cell topic-cell column-heading">Name</div>
                                </div>
                
                                <ng-container>
                                    <ng-container>
                                        <div class="Rtable-row">
                                            <div class="Rtable-cell small-cell">
                                                <div class="Rtable-cell--heading">Serial No.</div>
                                                <div class="Rtable-cell--content date-content">{{item.serialNumber}}</div>
                                            </div>
                                            <div class="Rtable-cell topic-cell">
                                                <div class="Rtable-cell--heading">Name</div>
                                                <div class="Rtable-cell--content title-content">{{item.product.name}}</div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              
            <div class="example-container">
                <h2>Selected Products</h2>
                <div
                    cdkDropList
                    #doneList="cdkDropList"
                    [cdkDropListData]="draggedProductList"
                    [cdkDropListConnectedTo]="[todoList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of draggedProductList" cdkDrag>
                    <div class="wrapper">
                        <div class="Rtable Rtable--5cols Rtable--collapse">
                            <div class="Rtable-row Rtable-row--head">
                                <div class="Rtable-cell small-cell column-heading">Serial no</div>
                                <div class="Rtable-cell topic-cell column-heading">Name</div>
                            </div>
            
                            <ng-container>
                                <ng-container>
                                    <div class="Rtable-row">
                                        <div class="Rtable-cell small-cell">
                                            <div class="Rtable-cell--heading">Serial No.</div>
                                            <div class="Rtable-cell--content date-content">{{item.serialNumber}}</div>
                                        </div>
                                        <div class="Rtable-cell topic-cell">
                                            <div class="Rtable-cell--heading">Name</div>
                                            <div class="Rtable-cell--content title-content">{{item.product.name}}</div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
