<div class="flex-grid padded-aside filter-fixed">
    <div class="col-sm">
        <form class="example" action="javascript:void(0);">
            <input [(ngModel)]="scannedPartNo" (keyup.enter)='scanPartNo($event)' class="search" (focusout)='scanPartNo($event)'
                type="text" placeholder="EAN or Part Number" name="Search">
            <button type="submit"><i class="material-icons small">search</i></button>
        </form>
    </div>
    <div class="col-sm">
        <form class="example" action="javascript:void(0);">
            <input #scaninput [(ngModel)]="scannedSerialNo" [class.disabled]="!scannedPartNo" (keyup.enter)='scanMacAddress(scaninput.value)'
                class="search" type="text" placeholder="MAC Address" name="mac">
            <button type="submit"><i class="material-icons small">search</i></button>
        </form>
    </div>
    <div class="col-sm">
        &nbsp;
    </div>
    <div class="col-sm">
        <form class="example" action="javascript:void(0);">
            <select [disabled]="!canSave()" required [(ngModel)]="dto.order.orderState" name="orderstate">
                <option *ngFor="let state of orderStates" [ngValue]="state">Save as {{state}}</option>
            </select>
        </form>
    </div>
    <div class="col-xs">
        <div class="btn-container">
            <a href="javascript:void(0);" (click)="save($event)" [class.disabled]="!canSave()" class="btn-primary">
                <a href="javascript:void(0);" (click)="saveCompleteConfirmtation($event)" [class.disabled]="!canSave()"
                    class="btn-primary">
                     <span><i class="material-icons small">save</i></span>
                     <div class="btn-text">Save</div>
                </a>
            </a>
        </div>
    </div>
</div>

<!--ORDER IN LIST -->
<app-order-in-list [(dto)]="dto"></app-order-in-list>
<!-- <app-order-out-list [dto]="dto"></app-order-out-list> -->