<div *ngIf="dto.order.orderType.orderDirection === 'Out'">
    <div class="example-container">
        <h2>All Products</h2>
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="itemsList" [cdkDropListConnectedTo]="[doneList]"
            class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of itemsList" cdkDrag>
                <div class="wrapper">
                    <div class="Rtable Rtable--5cols Rtable--collapse">
                        <div class="Rtable-row Rtable-row--head">
                            <div class="Rtable-cell small-cell column-heading">Serial no</div>
                            <div class="Rtable-cell topic-cell column-heading">Name</div>
                        </div>

                        <ng-container>
                            <ng-container>
                                <div class="Rtable-row">
                                    <div class="Rtable-cell small-cell">
                                        <div class="Rtable-cell--heading">Serial No.</div>
                                        <div class="Rtable-cell--content date-content">{{item.serialNumber}}</div>
                                    </div>
                                    <div class="Rtable-cell topic-cell">
                                        <div class="Rtable-cell--heading">Name</div>
                                        <div class="Rtable-cell--content title-content">{{item.product.name}}</div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h2>Selected Products</h2>
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="draggedProductList" [cdkDropListConnectedTo]="[todoList]"
            class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of draggedProductList" cdkDrag>
                <div class="wrapper">
                    <div class="Rtable Rtable--5cols Rtable--collapse">
                        <div class="Rtable-row Rtable-row--head">
                            <div class="Rtable-cell small-cell column-heading">Serial no</div>
                            <div class="Rtable-cell topic-cell column-heading">Name</div>
                        </div>

                        <ng-container>
                            <ng-container>
                                <div class="Rtable-row">
                                    <div class="Rtable-cell small-cell">
                                        <div class="Rtable-cell--heading">Serial No.</div>
                                        <div class="Rtable-cell--content date-content">{{item.serialNumber}}</div>
                                    </div>
                                    <div class="Rtable-cell topic-cell">
                                        <div class="Rtable-cell--heading">Name</div>
                                        <div class="Rtable-cell--content title-content">{{item.product.name}}</div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>