<div class="flex-grid padded-aside">
    <div class="col">
        <div class="title">
            Order Type
        </div>
    </div>
</div>

<div class="flex-container row padded-aside" [ngClass]="{'disabled': isEdit}">
    <ng-container *ngFor="let orderType of orderTypes; let i = index">
        <div class="col-xxs">
            <label class="container">{{orderType.orderDirection}}
                <input type="radio" name="radio" 
                    [checked]="checkOrderType(i)"
                    (change)="switchRadioBtns($event, orderTypes[i])">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-xxs">
            <i [ngClass]="{'invert': orderType.orderDirection == 'In'}" class="material-icons small">{{orderType.icon}}</i>
        </div>
    </ng-container>
</div>

<div class="flex-grid padded-aside">
    <div class="col">
        <div class="title">
            Order Information
        </div>
    </div>
</div>

<div class="flex-container row padded-aside">
    <div class="col-sm">
        <form class="example" action="javascript:void(0);">
            <select required [(ngModel)]="dataSource.dto.order.orderType.id" name="ordersubtype">
                <option *ngFor="let item of orderSubTypes;" [ngValue]="item.id">{{item.name}}</option>
            </select>
        </form>
    </div>
    <div class="col-sm">
        <form class="example" action="javascript:void(0);">
            <input [ngModel]="dataSource.dto.order.orderDate | date:'yyyy-MM-dd'" (ngModelChange)="dataSource.dto.order.orderDate = $event"
                type="date" name="orderdate" />
        </form>
    </div>
    <div class="col-sm">
        <form class="example" action="javascript:void(0);">
            <input type="text" [(ngModel)]="dataSource.dto.order.ticketNumber" placeholder="Ticket No" name="ticketnumber">
        </form>
    </div>
    <div class="col-sm">
        &nbsp;
    </div>
</div>
<div class="flex-grid padded-aside">
    <div class="col">
        <div class="title">
            Warehouse
        </div>
    </div>
    <div class="col">
        <div class="title">
            Inventory Name
        </div>
    </div>
    <div class="col">
        <div class="title">
            Status
        </div>
    </div>
    <div class="col">
        <div class="title">
            Item State
        </div>
    </div>
</div>
<div class="flex-container row padded-aside">
    <div class="col-sm">
        <form class="example" action="javascript:void(0);">
            <select required [(ngModel)]="dataSource.orderDetailIds.warehouseId" name="warehouse">
                <option *ngFor="let item of catalogs.warehouses" [ngValue]="item.id">{{item.name}}</option>
            </select>
        </form>
    </div>
    <div class="col-sm">
        <form class="example" action="javascript:void(0);">
            <select required [(ngModel)]="dataSource.orderDetailIds.inventoryId" name="inventory">
                <option *ngFor="let item of catalogs.inventories" [ngValue]="item.id">{{item.name}}</option>
            </select>
        </form>
    </div>
    <div class="col-sm">
        <form class="example" action="javascript:void(0);">
            <select required [(ngModel)]="dataSource.orderDetailIds.onInventoryStatusId" name="oninvstatus">
                <option *ngFor="let item of catalogs.inventoryStatuses" [ngValue]="item.id">{{item.name}}</option>
            </select>
        </form>
    </div>
    <div class="col-sm">
        <form class="example" action="javascript:void(0);">
            <select required [(ngModel)]="dataSource.orderDetailIds.itemStatusId" name="itemstatus">
                <option *ngFor="let item of catalogs.itemStatuses" [ngValue]="item.id">{{item.name}}</option>
            </select>
        </form>
    </div>
</div>
<div class="padded-aside flex-container">
    <textarea class="search col" type="text" placeholder="Order notes..." [(ngModel)]="dataSource.dto.order.notes"></textarea>
</div>

<!-- FILTER CONTROLS -->
<app-order-filters 
    [(dto)]="dto" 
    [(orderDetail)]="orderDetail">
</app-order-filters>