.padded-top {
    margin-top: 25px;
}

.filter-fixed{
    position: -webkit-sticky;
    position: sticky;
    top: 3.5rem;
    z-index: 2;
  }

.headers-fixed{
    position: -webkit-sticky;
    position: sticky;
    top: 8.8rem;
    z-index: 2;
  }