<!--The content below is only a placeholder and can be replaced.-->
<div class="loader" *ngIf="sharedService.isInRequest">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>
<div class="login" *ngIf="!(authInfo$ | async)?.token">
    <app-login></app-login>
</div>
<div class="app-container" *ngIf="(authInfo$ | async)?.token">
    <div class="navbar-container">
        <app-navbar></app-navbar>
    </div>
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-container" [ngClass]="{'is-loading': sharedService.isInRequest}">
        <div class="notification-container" *ngIf="notificationService.messagesSubject | async as messages">
            <div *ngIf="messages.length; else empty">
                <div class="body"
                    [ngClass]="'alert ' + message.class"
                    *ngFor="let message of messages">
                    {{message.body}}
                </div>
            </div>
        </div>
        <div class="router">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>