<div class="flex-grid-thirds">
    <div class="col">
        <div class="card">
            <div class="content">
                <div class="flex-grid bottom-line">
                    <div class="col">
                        <i class="material-icons large primary">donut_small</i>
                    </div>
                    <div class="col">
                        <div class="right">
                            <div class="header">
                                Jive New
                            </div>
                            <div class="detail">
                                340
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-grid padded-aside">
                    <div class="col-xs">
                        <i class="material-icons small primary">autorenew</i>
                    </div>
                    <div class="col-lg update">
                        Updated now.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="content">
                <div class="flex-grid bottom-line">
                    <div class="col">
                        <i class="material-icons large primary">donut_small</i>
                    </div>
                    <div class="col">
                        <div class="right">
                            <div class="header">
                                B-Stock
                            </div>
                            <div class="detail">
                                150
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-grid padded-aside">
                    <div class="col-xs">
                        <i class="material-icons small primary">autorenew</i>
                    </div>
                    <div class="col-lg update">
                        Updated now.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="content">
                <div class="flex-grid bottom-line">
                    <div class="col">
                        <i class="material-icons large primary">donut_small</i>
                    </div>
                    <div class="col">
                        <div class="right">
                            <div class="header">
                                Z David R
                            </div>
                            <div class="detail">
                                70
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-grid padded-aside">
                    <div class="col-xs">
                        <i class="material-icons small primary">autorenew</i>
                    </div>
                    <div class="col-lg update">
                        Updated now.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="content">
                <div class="flex-grid bottom-line">
                    <div class="col">
                        <i class="material-icons large primary">donut_small</i>
                    </div>
                    <div class="col">
                        <div class="right">
                            <div class="header">
                                Defective
                            </div>
                            <div class="detail">
                                12
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-grid padded-aside">
                    <div class="col-xs">
                        <i class="material-icons small primary">autorenew</i>
                    </div>
                    <div class="col-lg update">
                        Updated now.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex-container row">
    <div class="col card">
        <div class="chart">
            <div class="title">
                Phones by brand
                <div class="subtitle">
                    Updated every 60 seconds
                </div>
            </div>
            <div class="chart">
                <canvas #barchart id="barChart" height="auto">{{ barChart }}</canvas>
            </div>
        </div>
    </div>
    <div class="col card">
            <div class="chart">
                <div class="title">
                    Products over time
                    <div class="subtitle">
                        Updated every 60 seconds
                    </div>
                </div>
                <div class="chart">
                    <canvas #linechart id="lineChart" height="auto">{{ lineChart }}</canvas>
                </div>
            </div>
        </div>
</div>