<div class="login">
    <div class="flex-container row padded-aside">
        <div class="col-lg">&nbsp;</div>
        <div class="flex-container col" style="padding-top:75px">
            <div class="center"><h1>Jive Inventory</h1></div>
            <div class="col-sm padded-top">
                <form class="example" action="javascript:void(0);">
                    <input [(ngModel)]="authStateModel.username" type="text" placeholder="Username" name="username">
                </form>
            </div>
            <div class="col-sm padded-top">
                <form class="example" action="javascript:void(0);">
                    <input [(ngModel)]="authStateModel.password" type="password" placeholder="Password" name="password" (keyup.enter)="login();">
                </form>
            </div>
            <div class="col-xs padded-top">
                <div class="btn-container">
                    <a href="javascript:void(0);" (click)="login();" (keyup.enter)="login();" class="btn-primary">
                         <span><i class="material-icons small">perm_identity</i></span>
                         <div class="btn-text center">Login</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg">&nbsp;</div>
    </div>
</div>