@import 'css-vars';

$font-family: 'Titillium Web';
$bg-color: white;
$font-color-dark: dimgray;
$font-color-light: #ddd;
$sidebar-bg-color: #574c4f;
$btn-primary: #7d978e;
$btn-secondary: darkcyan;
$btn-font-color: white;

@include css-vars((
    --bg-color: $bg-color
))